{% extends 'base.html.twig' %}

{% block title %}Nearby Coffee - Galerie photo{% endblock %}

{% block body %}

<hr>
<a href="{{ path('gallery_new') }}">Ajouter une nouvelle image</a>
<hr>

{% for image in gallery %}
    <div class="card">
        <a href="#">
            <img class="card-img-top" src="{{ asset('/images/' ) }}{{image.way}}" alt="alternative '{{ image.slug }}'">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ image.name }}</h5>
            {# <button><a href="{{ path('gallery_edit', {slug:gallery.slug}) }}">Modifier</a></button> #}
            {# <button><a href="{{ path('gallery_delete', {slug:gallery.slug}) }}">Supprimer</a></button> #}
        </div>
    </div>
{% endfor %}



{% endblock %}