<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Nearby Coffee{% endblock %}</title>
        <meta name="description" content="Je suis développeuse Web Fullstack Symfony à la recherche d'un emploi.">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="icon" type="image/png" href="{{ asset('/logo/') }}logo.png">

        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" media="screen" href="{{ asset('/css/style.css') }}">
        {% endblock %}
        
    </head>
    <body class="container-fluid p-0">
    
        <header class="" id="haut_de_page">
            <section class="container-fluid d-flex flex-wrap nav_bg justify-content-evenly">
            {# logo #}
                <div class="col-lg-2 align-middle text-center ">
                    <a class="" href="{{ path('main_home') }}">
                        <img class="logo_64 margin_2 img-fluid"src="{{ asset('/logo/') }}logo.png" alt="logo" srcset="">
                    </a>
                </div>
            {# navbar #}
                <div class="col-lg-10 align-self-center align-middle py-lg-0 py-2 text-break px-1">
                    <nav class="nav nav-tabs nav-fill d-flex border-0 link_bg line_height">
                        {% include '_navbar.html.twig' %}
                    </nav>
                </div>
            </section>
            {# navbarAdmin #}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <section class="container-fluid d-flex flex-wrap flex-row align-middle py-lg-0 py-2 justify-content-lg-end justify-content-center font_bold color_2 link_border-adm padding_2 padding_3">
                {% include '_navbarAdmin.html.twig' %}
            </section>
            {% endif %}

        </header>

        <main class="container-fluid main_frame p-0 height_100">
            <h1 class="text-center sticky-top subtitle_bg padding_2" style="color: black;">
                {% block subtitle %}{% endblock %}
            </h1>
            {# messages flash #}
            <section>
                {% include '_flash.html.twig' %}
            </section>
            <div class="container-fluid padding_1">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="container-fluid d-flex flex-wrap flex-row align-middle py-lg-0 py-2 justify-content-lg-end justify-content-center footer_bg link_border-footer">
            {% include '_footer.html.twig' %}
        </footer>

        {% block javascripts %}<script src="{{ asset('/js/app.js') }}"></script>{% endblock %}
    </body>
</html>
