{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}

    <p>Nom: {{ user.firstname }} {{ user.lastname }}</p>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>Rôles: 
            <ul>
                {% for role in roles %}
                    <li>{{ role }}</li>
                {% endfor %} 
            </ul>
        </li>
        <li>Status: {{ user.status }}</li>
    </ul>

<button>
    <a href="{{ path('user_edit', {slug:user.slug}) }}">Modifier les informations</a>
</button>

{# affichage des lignes seulement si le slug de l'utilisateur actuel et celui de la cible sont identiques #}
{% if app.user.Slug == userSlug %}
    <button>
        <a href="{{ path('user_edit_password', {slug:user.slug}) }}">Modifier le mot de passe</a>
    </button>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <button>
        <a href="{{ path('user_delete', {slug:user.slug}) }}">Supprimer</a>
    </button>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <hr>
    <a href="{{ path('user_list') }}">Retour à la liste</a>
{% endif %}

{% endblock %}