{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}

    <p>Nom: {{ user.firstname }} {{ user.lastname }}</p>
    <ul>
        <li>Email: {{ user.email }}</li>
        {#<li>Rôle: {{ user.role }}</li>#}
        <li>Status: {{ user.status }}</li>
    </ul>

<button><a href="{{ path('user_edit', {id:user.id}) }}">Modifier</a></button>
<button><a href="{{ path('user_delete', {id:user.id}) }}">Supprimer</a></button>

{% endblock %}